## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
int = 88
print(int)

88

2) Imprimir el tipo de dato de la variable 8.5

In [3]:
float = 8.5
print(float)

8.5

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(int)

88

4) Crear una variable que contenga tu nombre

In [9]:
mi_nombre= "javier velazquez"

5) Crear una constante que contenga el número Pi

In [7]:
CONSTANTE_PY = 3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(CONSTANTE_PY)

3.14

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [1]:
numero = 3.1415
numero_redondeado = round(numero, 4)
print(numero_redondeado)

3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [3]:

variable_true_1 = True
variable_true_2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [2]:
print(True)

True

10) Asignar a una variable, la suma de un número entero y otro decimal

In [6]:
a = 5
b = 2.3
suma = a + b
print(suma)

7.3

11) Realizar una operación de suma de un número definido como string con un entero

In [8]:
int = 5
string = 5
suma = int + string
print(suma)

10

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [11]:
a = 7 **3
print(a)

343

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [2]:
numero_1 = int (input("ingresar numero 1" ))

numero_2 = int (input("ingresar numero 2"))

multiplicacion = numero_1 * numero_2

print(multiplicacion)

12

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [4]:
cociente = 56/2
print(cociente)

28.0

15) De la división anterior solamente mostrar la parte entera

In [5]:
print (int(cociente))

28

16) De la división de 27 entre 4 mostrar solamente el resto

In [1]:
resultado = 27 % 4
print("El resto de la división entre 27 y 4 es:", resultado)

El resto de la división entre 27 y 4 es: 3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [3]:
resultado = 4 * (3+3) +3
print(resultado)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [5]:
resultado = "2"== 2
print(resultado)

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [7]:
resultado = int("2") == 2
print (resultado)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [21]:
a = 3.8
print(a)

3.8

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [3]:
# suma = 2 + "2" # por que uno es un string y el otro un int 
suma = 2 + 2  # en este caso ambos son int siempre van a dar el mismo resultado
print(suma)

4

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [ ]:
menu = [
    '1 - pizza',
    '2 - empanadas',
    '3 - milanesas',
    '4 - salir'
]

print("Menú:")
for opcion in menu:
    print(opcion)

Menú:
1 - pizza
2 - empanadas
3 - milanesas
4 - salir

23) Crear una lista que contenga los números del 1 al 10

In [1]:
lista_numeros = [1,2,3,4,5,6,7,8,9,10]

print(lista_numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [3]:
lista = [1,2,3,4,5,6]

print(lista[-2])

5

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [4]:
lista = [1,2,3,4,5,6]
lista[2] = "javier"

print("la nueva lista",lista)

la nueva lista [1, 2, 'javier', 4, 5, 6]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [48]:
matriz = [
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
]
matriz

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

27) Imprimir la matriz creada en el punto 26

In [49]:

for fila in matriz:
    print(fila)

['A', 'B', 'C']
['D', 'E', 'F']
['G', 'H', 'I']

28) Modificar la letra E de la matriz y colocar la letra Z

In [50]:
matriz[1][1] = "Z"

for fila in matriz:
    print(fila)

['A', 'B', 'C']
['D', 'Z', 'F']
['G', 'H', 'I']

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [51]:
matriz[0][0] = "1"
matriz[1][0] = "2"
matriz[2][0] = "3"

for fila in matriz:
    print(fila)

['1', 'B', 'C']
['2', 'Z', 'F']
['3', 'H', 'I']

30) Crear una tupla que contenga 5 marcas de ropa

In [3]:
mi_tupla = ("adidas", "nike", "reebok", "vans", "dcshoes")

print (mi_tupla)

('adidas', 'nike', 'reebok', 'vans', 'dcshoes')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [4]:
print("el primer elemento es:", mi_tupla[0])

el primer elemento es: adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
#En Python, las tuplas son estructuras de datos inmutables, lo que significa que no se puedn modificar 
# después de haber sido creadas. Una vez que una tupla ha sido creada, no es posible cambiar,
# agregar o eliminar elementos.

# si se podria crear una tupla con los elementos actualizados

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [13]:
mi_diccionario = {
    "nombre": "JAVIER",
    "apellido": "VELAZQUEZ",
    "edad": 32,
    "hobbies": ["viajar", "cocinar", "entrenar"]
}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [14]:
print(mi_diccionario["hobbies"])

['viajar', 'cocinar', 'entrenar']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [17]:
mi_diccionario['edad'] = 33

print(mi_diccionario["edad"])

33